*
  box-sizing: border-box
body
  font: 100% $font-primary
  font-style: normal
img
  height: auto
a
  text-decoration: none
ul
  margin: 0
  padding: 0
  list-style: none
button
  cursor: pointer
input
  outline: none
.btn
  position: relative
  padding: 0 10px
  font-size: 24px
  line-height: 48px
  font-weight: 800
  letter-spacing: 1.2px
  text-transform: uppercase
  color: $light
  background: none
  border: none
  transition: .3s
  @media (max-width: $media-tablet)
    padding: 0 5px
  &::after
    content: ""
    position: absolute
    top: 50%
    left: 0
    right: 0
    z-index: -1
    border: 5px solid rgba(107, 201, 189, 0.5)
    transform: translateY(-50%)
    @media (max-width: $media-tablet)
      border: 3px solid rgba(107, 201, 189, 0.5)
  &:hover
    padding: 0
    transform: scale(1.25)
.container
  max-width: 1175px
  width: 100%
  margin: 0 auto
  padding: 0 20px
  @media (max-width: $media-tablet)
    max-width: 960px
.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  clip: rect(0 0 0 0)
.social-icon
  @media (max-width: $media-mobile)
    display: flex
    align-items: center
    padding-left: 4px
