.footer
  background-color: $primary
  padding: 34px 0
  &__wrapper
    max-width: 1114px
    display: flex
    align-items: center
    justify-content: space-between
    margin: auto
  &__copyright
    font-family: $font-secondary
    font-weight: 400
    font-size: 18px
    line-height: 22px
    color: $light
  &__company-link
    text-decoration: none
    color: $light
    &:hover
      cursor: pointer
      border-bottom: 2px solid $light
      transition: 0.4ms
  &__social
    display: none
