.content
  &__title
    font-weight: 800
    font-size: 24px
    line-height: 32px
    color: $light
.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0,0,0,.7)
  display: none
  z-index: 4
  &.active
    display: flex
    align-items: center
  &__form
    margin: 0 auto
    width: fit-content
    height: fit-content
    min-width: 100px
    min-height: 100px
    overflow: auto
    max-height: calc(100vh - 60px)
    padding-left: 66px
    @media (max-width: $media-tablet)
      max-width: 470px
      width: 100%
      padding: 40px
  &__title
    text-align: center
    font-weight: 800
    font-size: 24px
    line-height: 32px
    text-transform: uppercase
    margin: 0 0 21px 0
  &__close
    position: absolute
    top: 33px
    right: 34px
    border: none
    background-color: transparent
    outline: none
    width: 50px
    height: 50px
    cursor: pointer
    @media (max-width: $media-tablet)
      top: 37px
      right: 43px
      width: 25px
      height: 25px
  &__wrapper
    position: relative
    padding: 20px
    margin: 0 auto
  &-icon
    fill: $primary
    width: 30px
    height: 30px
    pointer-events: none
    @media (max-width: $media-tablet)
      width: 25px
      height: 25px
.form__wrapper-password
  margin-bottom: 20px
.form__wrapper-password, .form__name--modification
  width: 418px
  @media (max-width: $media-tablet)
    max-width: 440px
    width: 100%
.form-modal__btn
  @media (max-width: $media-mobile)
    font-weight: 800
    font-size: 24px
    line-height: 48px
    text-align: center
    letter-spacing: 1.2px
    margin-bottom: 0
