.first-screen
  position: relative
  padding-top: 126px
  &__slider
    width: 100%
  &__slide
    position: relative
    padding-top: 50px
    padding-bottom: 363px
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgba(0, 0, 0, 0.6)
      z-index: 1
  &__img
    position: absolute
    left: 0
    bottom: 0
    right: 0
    z-index: 1
  &__text
    position: relative
    font-family: Uni Neue
    font-style: normal
    font-weight: 800
    font-size: 120px
    line-height: 159px
    z-index: 6
    margin-top: 0
    margin-bottom: 42px
    padding-top: 125px
    text-transform: uppercase
  &__description
    font-family: Uni Neue
    position: relative
    font-style: normal
    font-weight: 700
    font-size: 20px
    line-height: 48px
    letter-spacing: 1px
    z-index: 6
    text-transform: uppercase
    padding-left: 56px
    padding-right: 40px
  &__wrapper
    position: relative
    max-width: 900px
    color: $light
    text-align: center
    margin: 0 auto
    z-index: 2
    &::after
      content: ''
      width: 461px
      height: 461px
      position: absolute
      border-radius: 50%
      top: 66%
      left: 51%
      transform: translate(-50%,-50%)
      background: rgba(107, 201, 189, 0.5)
      z-index: 3
.swiper
  &-pagination
    bottom: 140px !important
  &-pagination-bullet
    background: $light
    border-radius: 33px
    width: 15px
    height: 15px
    transition: 0.3s
  &-pagination-bullet:hover
    transform: scale(1.25)
  &-button
    top: 60%
    width: 36px
    height: 60px
    border: none
    z-index: 96
    position: absolute
    transform: translateY(-50%)
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    background-color: transparent
    &:hover
      transform: scale(1.1) translateY(-50%)
    &--next
      right: 1px
      background-image: url(../img/arrow-next.svg)
      background-size: cover
      margin-right: 20%
      transition: 0.3s
    &--prev
      left: 10px
      background-image: url(../img/arrow-prev.svg)
      background-size: cover
      margin-left: 20%
      transition: 0.3s
  &-modal-btn
    z-index: 96
    cursor: pointer
    display: block
    margin-right: auto
    margin-left: auto
    margin-bottom: 50px
    margin-top: -101px
@media (min-width: 1201px) and (max-width: 1483px )
  .swiper-button--prev
    margin-left: 10%
    .swiper-button--next
      margin-right: 10%
