.price
  background-color: $dark
  padding-top: 50px
  padding-bottom: 85px
  &__wrapper
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
  &__title
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 79px;
    color: $light
.acor-container
  max-width: 1140px
  border: 1px solid red
.acor-container .acor-body 
    margin: 0 auto
    height: 0
    color: rgba(0, 0, 0, 0)
    line-height: 18px
    padding: 0 30px
    box-sizing: border-box
    transition: color 0.5s, padding 0.5s
    overflow: hidden
    font-family: Verdana, sans-serif
    font-size: 16px
.acor-container .acor-body p 
    margin: 0 0 10px
.acor-container label 
    cursor: pointer;
    display: block
    padding: 15px 20px
    width: 100%
    color: $light
    box-sizing: border-box
    z-index: 100
    transition: color .35s
.acor-container label:hover 
    color: $light

.acor-container input
    display: none

.acor-container label:before 
    content: url(../../img/Closed-marker.svg)
    width: 60px
    height: 60px

.acor-container input:checked + label 
    color: $light

.acor-container input:checked + div label:before 
    content: url(../../img/Opened-marker.svg)
    width: 60px
    height: 60px

.acor-container input:checked + div  .acor-body 
    height: auto
    margin-top: -5px
    color: #000
    padding: 20px 30px 10px

.accordion 
    &__item
        border: #fff solid 5px
        &:not(:last-child)
            border-bottom: none