.contacts
  background-color: $dark
  &__wrapper
    max-width: 1142px
    display: flex
    justify-content: space-between
    margin: auto
  &__title
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: $light
    margin-top: 62px
    margin-bottom: 31px
    text-transform: uppercase
  &__info
    margin-bottom: 45px
    display: flex
    align-items: flex-start
    width: 360px
    flex-direction: column
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: $light
  &__email
    display: flex
    align-items: center
    color: $light
  &__phone
    color: $light
    text-decoration: none
  &__adress, &__phone 
    display: flex
    align-items: center
    margin-bottom: 39px
  &__icon-phone, &__icon-mail, &__icon-map
    fill: $primary
    margin-right: 28px
    width: 35px
    height: 35px
.map
  width: 749px
  height: 463px
  background: #000
  overflow: hidden
