.form
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 42px
  padding-bottom: 55px
  background-image: url(../../img/form-img.jpg)
  background-repeat: no-repeat
  background-size: cover
  &__wrapper
    margin-bottom: 37px
  &__title
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 79px;
    color: $light
    margin-top: 0
    margin-bottom: 30px
    text-transform: uppercase
  &__form
    max-width: 550px
    width: 100%
    border: 2px solid #6BC9BD
    background-color: $dark
    color: $light
    padding-left: 70px
    padding-right: 56px
    padding-top: 45px
    padding-bottom: 11px
  &__btn
    display: block
    z-index: 96
    margin-left: auto
    margin-right: auto
    margin-bottom: 23px
  &__label
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05px;
  &__input-name, &__input-tel, &__input-email
    border: 1px solid #FFFFFF
    background: none
    width: 100%
    padding: 9px 0
    padding-left: 22px
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05px;
    margin-top: 18px
    margin-bottom: 16px
    color: $light
    outline: none
  &__wrapper-select
    width: 100%
    padding: 9px 0
    background: none  
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05px;
    margin-bottom: 16px
    color: $light
  &__textarea
    width: 100%
    padding: 9px 0
    border: 1px solid #FFFFFF
    background: none
    font-family: Uni Neue
    font-style: normal
    font-weight: 500
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.05px
    margin-bottom: 4px
    color: #fff
    padding-left: 22px
    resize: none
    height: 98px
    outline: none
  &__wrapper-radiobutton
    margin-bottom: 20px
  &__radiobutton-label
    cursor: pointer
.visually-hidden
      position: absolute
      clip: rect(0 0 0 0)
      width: 1px
      height: 1px
      margin: -1px
.form-span
  position: relative
  padding-left: 45px
  font-family: Uni Neue
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 17px
  letter-spacing: 0.05px
  margin-bottom: 30px
  display: block
  cursor: pointer
  &:before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 0
      margin: auto
      width: 25px
      height: 25px
      border: 2px solid $primary
  &:after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 8px
      margin: auto
      width: 23px
      background: url(../../img/check.svg) center center no-repeat
      display: none
.visually-hidden:checked+.form-span:after
  display: block
.form-radiobutton
  position: relative
  padding-left: 45px
  font-family: Uni Neue
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 17px
  letter-spacing: 0.05px
  &:before
      content: ""
      position: absolute
      top: 0
      bottom: 0
      left: 0
      margin: auto
      width: 25px
      height: 25px
      border: 2px solid $primary
      border-radius: 85px
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 11px
    margin: auto
    width: 7px
    height: 7px
    background-color: #fff
    display: none
    border-radius: 50%
.form__radiobutton-title, .form__textarea-label
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05px;
.visually-hidden:checked+.form-radiobutton:after
  display: block
.custom-label
  margin-right: 38px
.custom-checkbox.error-input + .form-span:before
  border: 1px solid lightcoral

.form__wrapper-textarea
  margin: 20px 0
.choices
  margin-top: 10px
.choices__inner
  background-color: transparent
  border: 1px solid #FFFFFF
  padding: 6.5px 17.5px 3.75px;
.choices__list
  background-color: $dark
.choices[data-type*=select-one]:after
  background: url(../img/arrow-next.svg) center center/cover no-repeat
  content: ''
  height: 23px
  width: 12px
  border-style: none
  border-color: transparent transparent
  border-width: 0
  position: absolute
  right: 25.5px
  top: 10px
  margin-top: 0
  pointer-events: none
  transform: rotate(90deg)
.choices__list--dropdown .choices__item--selectable.is-highlighted
  background-color: $dark
.choices.is-focused.is-open:after
  top: 17px
.choices__list--single .choices__item
    width: 100%
    font-family: Uni Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05px;
.form__input:focus
   box-shadow: 1px 1px 3px $primary, -1px -1px 3px $primary
.error-text
    font-size: 16px
    color: red
    margin-bottom: 10px
.form__input.error-input
    border: 1px solid lightcoral
.form-span
  transition: 0.3s
.form-span:hover
  color: lavender
  &::before
    box-shadow: 1px 1px 3px $primary, -1px -1px 3px $primary
.form-radiobutton:hover   
   color: lavender
.form-radiobutton:hover 
  &::before
    box-shadow: 1px 1px 3px $primary, -1px -1px 3px $primary
